
  <div class="silderdiv">
    <div class="polaroid">
      <img src="../../../assets/fff.jpg" alt="Norway" style="position: absolute; top: 1%; left: 0.5%; width:540px; height: 190px">
    </div>
    <div class="polaroid1">
      <img src="../../../assets/ccc.jpg" alt="Norway" style="position: absolute; top: 1%; left: 8px; width:560px; height: 190px">

    </div>
    <div class="polaroid2">
      <img src="../../../assets/kkk.jpg" alt="Norway" style="position: absolute; top: 1%; left: 6px; width:540px; height: 190px">

    </div>
  </div>



<div id="under">

  <table id="table" style="width:100%">
    <tr>
      <th>Delivary ID:</th>
      <th>Oredr ID:</th>
      <td>EmployeeID</td>
      <th>Customer Name:</th>
      <td>Address</td>
      <td>Date</td>
      <td>Time</td>
      <td>QTY</td>
    </tr>
    <tr>


    </tr>
    <tr>


  </table>

</div>
<div class="downline"></div>