<!DOCTYPE html>
<html>
<head>

</head>
<body>



<div>
<h2>Foods</h2>
</div>

<div class="silderdiv">
  <div class="polaroid">
    <img src="../../../assets/mmm.jpg" alt="Norway" style="position: absolute; top: 1%; left: 0.5%; width:390px; height: 190px">

  </div>

  <div class="polaroid1">
    <img src="../../../assets/rrr.jpg" alt="Norway" style="position: absolute; top: 1%; left: 5px; width:390px; height: 190px">

  </div>
  <div class="polaroid2">
    <img src="../../../assets/dddd.jpg" alt="Norway" style="position: absolute; top: 1%; left: 6px; width:390px; height: 190px">

  </div>
</div>

<!-- fbfgjknfjnglkmljk-->

<div id="two">
  <h2>Sweets</h2>
</div>

<div class="silderdiv1">
  <div class="polaroid0">
    <img src="../../../assets/sss.jpg" alt="Norway" style="position: absolute; top: 1%; left: 0.5%; width:390px; height: 190px">

  </div>

  <div class="polaroid11">
    <img src="../../../assets/www.jpg" alt="Norway" style="position: absolute; top: 1%; left: 5px; width:390px; height: 190px">

  </div>
  <div class="polaroid22">
    <img src="../../../assets/ttt.jpg" alt="Norway" style="position: absolute; top: 1%; left: 6px; width:390px; height: 190px">

  </div>
</div>



</body>
</html>
