
<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<p>
  viewpayment works!
</p>
  <div class="silderdiv">
    <div class="polaroid">
      <img src="../../../assets/fff.jpg" alt="Norway" style="position: absolute; top: 1%; left: 0.5%; width:540px; height: 190px">
    </div>
    <div class="polaroid1">
      <img src="../../../assets/ccc.jpg" alt="Norway" style="position: absolute; top: 1%; left: 8px; width:560px; height: 190px">

    </div>
    <div class="polaroid2">
      <img src="../../../assets/kkk.jpg" alt="Norway" style="position: absolute; top: 1%; left: 6px; width:540px; height: 190px">

    </div>
  </div>




<div class="header"></div>
<br>


<div class="login">
  <div id="top">
    <div id="top-child">

      <label>Payment ID </label><br>
      <input type="text" placeholder="Payment Id" name="payIdtxt"><br><br>
      <label>Order ID</label><br>
      <input type="text" placeholder="Order ID" name="orderIdtxt" class="form-control" style="border: black;"><br>

      <div id="top-child-two">
        <label>Date</label><br>
        <input type="text" placeholder="Date" name="Datetxt" class="form-control"><br>
        <br>
        <label>User</label><br>
        <input type="text" placeholder="User" name="Usertxt"class="form-control"><br>
      </div>
    </div>
  </div>

  <div id="center">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label>Category Name :</label>
    &nbsp;&nbsp;
    <select placeholder="cateNametxt" >
      <option value="Rice">Rice</option>
      <option value="Koththu">Koththu</option>
      <option value="Sorties">Sorties</option>
      <option value="Dirnks">Dirnks</option>
    </select>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <input type="text" placeholder="CategoryID" name="CategoryIdtxt"class="form-control">

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label>Product Name :</label>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <select placeholder="productNametxt" >
      <option value="nasiguran">nasiguran</option>
      <option value="fride rice">fride rice</option>
      <option value="buriani">buriani</option>

    </select>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <input type="text" placeholder="ProductID" name="ProductIdtxt"class="form-control">
    <br>
    <br>
    <br>
    <div id="center-child">

      <label>QTY</label><br>

      <input type="text" placeholder="Qty" name="ProductIdtxt"class="form-control"><br>
      <label>Amount</label><br>

      <input type="text" placeholder="Amount" name="Amountxt"class="form-control">
    </div>
  </div>

  <div id="under">

    <table id="table" style="width:100%">
      <tr>
        <th>PaymentID:</th>
        <td>Product Name</td>
        <td>Qty</td>
        <td>unit-price</td>
        <td>TOTAL AMOUNT</td>
      </tr>
      <tr>


      </tr>
      <tr>


    </table>

  </div>
</div>
</body>
</html>

