<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

  <div class="silderdiv">
    <div class="polaroid">
      <img src="../../../assets/sss.jpg" alt="Norway" style="position: absolute; top: 1%; left: 0.5%; width:540px; height: 190px">

    </div>

    <div class="polaroid1">
      <img src="../../../assets/www.jpg" alt="Norway" style="position: absolute; top: 1%; left: 8px; width:560px; height: 190px">

    </div>
    <div class="polaroid2">
      <img src="../../../assets/ttt.jpg" alt="Norway" style="position: absolute; top: 1%; left: 6px; width:540px; height: 190px">

    </div>
  </div>

  <div class="down">

    <div class="form-group">
      <label for="txtfid">food id:</label>
      <input name="txtfid" type="text" class="form-control" id="txtfid">
    </div>

    <div class="form-group">
      <label for="txtfname">Food Name:</label>
      <input name="txtfname"   type="text" class="form-control" id="txtfname">
    </div>

    <div class="form-group">
      <label for="txtqty">Quantity:</label>
      <input name="txtqty"  type="text" class="form-control" id="txtqty">
    </div>

    <div class="form-group">
      <label for="txtunit">unit Price:</label>
      <input name="txtunit"  type="text" class="form-control" id="txtunit">
    </div>


    <div class="form-group">
      <label for="txtcid">CATEGORY ID:</label>
      <label for="txtcid">CATEGORY ID:</label>
      <input name="txtcid"  type="text"  class="form-control" id="txtcid">
    </div>
    <div>
      <button name="saveb"(click)="saveFood()" type="button" class="btn btn-primary">Save</button>&nbsp;&nbsp;
      <button type="button" class="btn btn-success">Search</button>&nbsp;&nbsp;
      <button type="button" class="btn btn-warning">Update</button>&nbsp;&nbsp;
      <button type="button" class="btn btn-danger">Delete</button>&nbsp;&nbsp;
    </div>

  </div>
</div>
<div class="downline"></div>
</body>
</html>
